<section class="container m-6 ">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add"> Añadir </button> </section>
{{!-- {{rolfuncionalidades}} --}}
{{#each rolfuncionalidades}} <div class="shadow p-4 mb-4 bg-white">
    <div class="row" id="row">
        <div class="col-sm-6 text-uppercase">
            {{rol_id.name}} --> {{funcionalidad_id.name}}
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-danger">
                <a href="http://localhost:3000/rolesfuncionalidad/delete/{{_id}}">Eliminar</a>
            </button>


        </div>
    </div>
</div>
{{/each}}

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/rolesfuncionalidad" method="post">

                    <div class="form-group col-md-4">
                        <label for="inputState">Rol</label>
                        <select id="rol_id" name="rol_id" class="form-control">
                            {{#each rols}}
                            <option value="{{_id}}"> {{name}} </option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Funcionalidad</label>
                        <select id="funcionalidad_id" name="funcionalidad_id" class="form-control">
                            {{#each funcionalidades}}
                            <option value="{{_id}}"> {{name}} </option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button class="btn btn-primary">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>

</style>